.header {
	background-color: #222;
	width: 100%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.list {
	list-style: none;
	display: flex;
	gap: 20px;
}
